<%- include ('../partials/nav')%>

<header class="header_index" align="center" >
	<center>
		<section class="titulo_cabecera" >
	
			<img src="images/vemaki_3.png"  alt="vemaki"  />
		</section>
	</center>	
</header>
<section class="section" align="center">
	<div class="transparent_text">
		<div class="text">
			La frescura de un buen sushi en la comodidad de tu hogar.
		</div> 
		
		
	</div>
</section> 

<%- include ('../partials/footer')%>